<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BabelsPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BabelsPrinter.Properties.Settings>
            <setting name="Printers" serializeAs="String">
                <value>FISCAL;NOFISCAL;X;CLIENTE</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>MainPrinter</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>babels</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxJobRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HasarLogPath" serializeAs="String">
                <value>C:\Hasar715.txt</value>
            </setting>
            <setting name="HasarIniPath" serializeAs="String">
                <value>C:\Hasar715.ini</value>
            </setting>
            <setting name="DefaultClientName" serializeAs="String">
                <value>Babels</value>
            </setting>
            <setting name="DefaultClientDocType" serializeAs="String">
                <value>C</value>
            </setting>
            <setting name="DefaultClientDocNum" serializeAs="String">
                <value>00000000000</value>
            </setting>
            <setting name="DefaultClientResp" serializeAs="String">
                <value>E</value>
            </setting>
            <setting name="DefaultClientAddress" serializeAs="String">
                <value>San Martin 600</value>
            </setting>
            <setting name="PrinterName" serializeAs="String">
                <value>HP LaserJet 1020</value>
            </setting>
        </BabelsPrinter.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
