<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BabelsPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BabelsPrinter.Properties.Settings>
            <setting name="Printers" serializeAs="String">
                <value>FISCAL;NOFISCAL;COCINA_1;COCINA_2</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>MainPrinter</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>babels</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value />
            </setting>
            <setting name="MaxJobRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="HasarLogPath" serializeAs="String">
                <value>C:\Hasar715.txt</value>
            </setting>
            <setting name="HasarIniPath" serializeAs="String">
                <value>C:\Hasar715.ini</value>
            </setting>
        </BabelsPrinter.Properties.Settings>
    </applicationSettings>
</configuration>