<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BabelsPrinter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <BabelsPrinter.Properties.Settings>
            <setting name="IniPath" serializeAs="String">
                <value>C:\Users\Javier\Documents\Visual Studio 2010\Projects\BabelsPrinter\BabelsPrinter\bin\Debug\Babels.ini</value>
            </setting>
            <setting name="Printers" serializeAs="String">
                <value>COCINA_0;COCINA_1</value>
            </setting>
            <setting name="ServiceName" serializeAs="String">
                <value>ServiceCocina</value>
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value>4</value>
            </setting>
        </BabelsPrinter.Properties.Settings>
    </applicationSettings>
</configuration>